body {
    font-family: 'Ubuntu', sans-serif;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

#toggle-text {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

#toggle-text:hover {
    color: darkblue;
}

a {
    text-decoration: none;
}

section {
    /* Apply to all sections */
    border-radius: 15px;
    /* Rounded corners */
    border: 1px solid #dee2e6;
    /* Light gray border */
    padding: 20px;
    /* Add some padding inside the box */
    margin-bottom: 20px;
    /* Space between sections */
    background-color: white;
    /* White background for contrast */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* subtle shadow */
}

/* In your styles.css file or within a <style> tag */
.rounded-circle {
    border: 5px solid white;
    /* Adjust border thickness and color as needed */
    /* Or for a more subtle border: */
    /* border: 2px solid rgba(255, 255, 255, 0.5);  */
    /* Semi-transparent white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
}

/* Example to target the specific image in the sidebar */
.col-md-3 .rounded-circle {
    /* Or a more specific selector if you have multiple */
    border-color: #f0ad4e;
    /* Example using a golden yellow color */
    border-width: 3px;
}

section h2 {
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.02);
}

section:hover h2 {
    text-decoration: underline;
    color: gray;
}

.custom-border-radius {
    border-radius: 15px;
    border: 2px solid #ccc;
}

.carousel-item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.progress {
    height: 20px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-width: 767px) {
    .custom-border-radius {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 200px;
    }
}