# Values prefixed with VITE_ are embedded in the browser bundle.
# Do not put API keys, tokens, or any private data in this file.
VITE_SITE_URL=https://thippharake-web-cv.vercel.app
VITE_CONTACT_EMAIL=thippharake_na@cmu.ac.th
VITE_GITHUB_URL=https://github.com/Thippharake-NaChiengmai
